# Environment variables
.env
backend/.env

# Node modules
node_modules/
backend/node_modules/

# Logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 